@font-face {
  font-family: "openai";
  font-weight: 200;
  src: url("/fonts/OpenAISans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "openai";
  font-weight: 400;
  src: url("/fonts/OpenAISans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "openai";
  font-weight: 600;
  src: url("/fonts/OpenAISans-Semibold.woff2") format("woff2");
}

@import "tailwindcss";

body {
  font-family: openai;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}
